<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestOfSpringMVC">
    <test name="testUserDAO" enabled="true" verbose="10">
        <packages>
            <package name="com.netease.dao.*"/>
        </packages>
    </test>
    <test name="testUserService" enabled="true" verbose="10">
        <packages>
            <package name="com.netease.service.*"/>
        </packages>
    </test>
    <test name="testUserController" enabled="true" verbose="10">
        <packages>
            <package name="com.netease.controller.*"/>
        </packages>
    </test>

</suite>